<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.worker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Worker">
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ViewAllReviewsActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ViewScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ChatConversationActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.MapActivity"
            android:exported="true" />
        <activity android:name=".Activity.WorkerProfileActivity" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.MainNavigationActivity" />
        <activity android:name=".Activity.SetupWorkerProfileActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBC7PXLq_XFTREU2_MlFVslg6TG0DBk0d0" />
    </application>

</manifest>